@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-gray-50 text-brown-dark font-sans transition-colors duration-300;
  }
  .dark body {
    @apply bg-brown-dark text-white;
  }
}